<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

	<servlet>
    	<servlet-name>createServlet</servlet-name>
    	<servlet-class>com.game.createServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>createServlet</servlet-name>
    	<url-pattern>/insert</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>updateGame</servlet-name>
    	<servlet-class>com.game.updateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>updateGame</servlet-name>
    	<url-pattern>/update</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>deleteGame</servlet-name>
    	<servlet-class>com.game.deleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>deleteGame</servlet-name>
    	<url-pattern>/delete</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>retrieveServlet</servlet-name>
    	<servlet-class>com.game.retrieveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>retrieveServlet</servlet-name>
    	<url-pattern>/retrieve</url-pattern>
    </servlet-mapping>
         
</web-app>